body{
    height: 100%;
    width: 100%;
    background: #f4f4f4;
    font-family: 'Fira Sans', sans-serif;
}

.admin-table{
    background: white;
    padding: 2%;
    margin-bottom: 3%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: solid #3E3E3E 1px;
}

.admin-table-title{
    margin-bottom: 2%;
    text-align: center;
}

.posts-header{
    float:left;
    font-weight: bold;
}

.posts-header-button{
    float: right;
    margin-top: 0.5%;
}

.shadow-box-tittle{
    text-align: center;
    margin-bottom: 20px;
}

.shadow-box{
    background: white;
    padding: 5%;
    margin-top: 80px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.shadow-box-foot{
    margin-top: 16px;
    text-align: center;
    padding: 15px 0;
}

.button-link{
    text-decoration: none;
}

.post-box{
    margin-bottom: 3%;
}

.post-box-tittle{
    margin-bottom: 9px;
}

.post-box-title-link{
    text-decoration: none;
    color: black;
}

.post-box-title-link:hover{
    color: #487284;
    text-decoration: none;
}

.post-box-meta{
    margin-bottom: 10px;
}

.user-nickname{
    margin-left: 8px;
    font-size: 13px;
    color: #548eaa;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.post-time{
    color: #5f5f5f;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.post-box-tag{
    color: #5e6973;
    font-size: 13px;
    margin-bottom: 9px;
}

.post-info{
    margin-top: 30%;
    color: #505c66;
    background: white;
    padding: 20px;
}

.post-info-header{
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.post-info-list{
    list-style: none;
    font-size: 12px;
}
